<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fl.jpush.android.fcm">

    <uses-sdk
        android:minSdkVersion="9"
        tools:overrideLibrary=" com.google.android.gms.common.license,
            com.google.android.gms.tasks.license,
            com.google.firebase.firebase.common.license,
            com.google.firebase.firebase.iid.license,
            com.google.firebase.firebase.messaging.license,
            com.google.firebase.measurement.impl.license,
            com.google.firebase.measurement.license,
            com.google.firebase.firebase_core,
            com.google.firebase.measurement,
            com.google.firebase.firebase_common,
            com.google.firebase.messaging,
            com.google.firebase.iid,
            com.google.android.gms,
            com.google.android.gms.tasks,
            com.google.firebase.iid.internal,
            com.google.firebase.analytics.connector,
            com.google.android.gms.stats,
            com.google.android.gms.common,
            com.google.android.gms.measurement.api,
            com.google.android.gms.ads_identifier,
            com.google.android.gms.measurement_base,
            com.google.firebase.analytics.connector.impl,
            android.support.v4,
            android.support.compat,
            android.arch.lifecycle,
            android.support.mediacompat,
            android.support.coreutils,
            android.support.coreui,
            android.support.fragment,
            com.google.firebase.measurement_impl" />
    <application>
        <!--fcm_config_start-->
        <service
            android:name="cn.jpush.android.service.PluginFCMMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--fcm_config_end-->
    </application>
</manifest>
