<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fl.jpush.android.fcm">

    <application>
        <!--fcm_config_start-->
        <service
            android:name="cn.jpush.android.service.PluginFCMMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--fcm_config_end-->
    </application>
</manifest>
